aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
async_pymongo
future==0.18.3
python-telegram-bot==13.15
numpy
unidecode
pyfiglet
telegraph
hachoir
search_engine_parser
heroku3
lyricsgenius
telethon==1.34.0
opencv-python-headless==4.9.0.80
motor
ntgcalls
pillow
https://github.com/Prime-Hritu/myrogram/archive/main.zip
tgcrypto 
psutil
apscheduler
pykeyboard
py-tgcalls
git+https://github.com/unknownteam72/pyrogram@dev
python-dotenv
emojis
pyyaml
telegraph 
requests
speedtest-cli
spotipy
tgcrypto
gpytranslate
wget
youtube-search
youtube-search-python
yt-dlp
uuid==1.30
